#topSocial ul li a { display:block; float:left; height:16px; width:16px; text-indent:-9999px; padding:0 5px 0 0; outline:none; }

#topSocial ul li a.facebook { background:url(../images/facebook-top.png) 0 0 no-repeat; }

#topSocial ul li a.google { background:url(../images/google-top.png) 0 0 no-repeat; }

#topSocial ul li a.youtube { background:url(../images/youtube-top.png) 0 0 no-repeat; }

